/A Note on the Derivation of Epidemic Final Sizes.pdf
/A practical guide to mathematical methods for estimating infectious disease outbreak risks.pdf
/Dissertation_Presentation.pdf
/Kessler-EpidemicSizeSIS-2008.pdf
/SIS_Kessler.pdf
/Stochastic epidemic models- A survey.pdf
/The risk of SARS-CoV-2 outbreaks in low prevalence settings following the removal of travel restrictions.pdf
/Whittle-OutcomeStochasticEpidemicA-1955.pdf
/epidemic-size-in-the-sis-model-of-endemic-infections.pdf